:root {
	--primary-color: #fff;
	--a-color: #c70b0b;
	--a-visited: #225522;
	--a-active: #16537e;
	--font-weight-1: 700;
	--font-weight-2: 400;
	--font-size-1: 30px;
	--font-size-2: 20px;
	--font-size-3: 10px;
}




* {
	box-sizing: border-box;
}



body {
	background-color: var(--primary-color);
	font-family: Oswald;
	font-weight: var(--font-weight-1);
	
}


h1 {
	font-size: var(--font-size-1);
	font-weight: var(--font-weight-1);
	line-height: 1;
}

h2 {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-2);
	line-height: 1;
}

p {
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-2);
	line-height: 1;
}


a {
	color: var(--a-color);
}

a:visited {
	color: var(--a-visited);
}

a:hover, a:focus {
	text-decoration: none;
}

a:active {
	color: var(--a-active);
}




button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: var(--a-visited);
	color: var(--primary-color);
	padding: var(--font-size-3);
	border-radius: 30%;
	border-bottom: 2px solid black;

	transition: opacity 0.8s; 

}


button:hover, button:focus {
	cursor: pointer;
	opacity: 0.4;
}




.text {
	color: darkgreen;
	font-style: italic;
}







.page-header {
	display: flex;
	padding: var(--font-size-3);
}

.page-header_item {
	flex: 0 1 200px;
}


.page-header_item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}


.navigation-list li {
	display: inline-block;
	margin-right: var(--font-size-3);
}







.picture-section {
	max-width: 500px;
	margin: 0 auto;
}



.picture {
	float: left;
	border-radius: 50%;
	margin-right: 50px;
	width: 250px;
	height: auto;
}


.footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}







.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: var(--font-size-2);
	padding: var(--font-size-2);
	text-align: center;


}



.grid-item:last-child {
	grid-column: 3 / 3 ;
	grid-row: 1 / 3 ;
}






.grid-title {
	text-align: center;
}


.grid-item {
	background-color: lightgray;
}







@media all and (max-width: 1000px) and (min-width: 500px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr ;
	}
}

@media all and (max-width: 1000px) {
	.grid {
		padding: var(--font-size-3);
		grid-gap: var(--font-size-3);
	}

	.grid-item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1{
		font-size: var(--font-size-2);
	}
	
}










.about-section {
	text-align: center;
}


.table-section {
	margin: 0 auto;
}





.about-animation-picture {
	height: 250px;
	width: 350px;
	margin: 0 auto;
}





.contact-section {
	text-align: center;
}





@keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}


.sun {
	animation: color-change 4s infinite alternate linear;
}





@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}







@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.cloud-back {
	animation: 34s cloud-move-reverse infinite alternate linear;
}












